<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-/mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exe.insa">
	
	<!-- 부서 고유 번호 구하기  -->
	<select id="maxNum" resultType="integer">
	select nvl(max(buseoNum),0) from buseo	
	</select>
	
	<!-- 생성 -->
	<insert id="buseoCreated" parameterType="com.exe.insa.BuseoDTO">
	insert into buseo(buseoNum,groupNum,depth,orderNo,parent,replyNum)
	values (#{buseoNum},#{groupNum},#{depth},#{orderNo},#{parent},#{replyNum})
	</insert>
	
	<!-- 리스트출력 -->
	<select id="list" resultType="com.exe.insa.BuseoDTO">
	
	select buseoNum,buseoName,groupNum,depth,orderNo,parent,checked,replyNum from buseo order by groupNum desc, orderNo asc
	
	</select>
	
	<!-- 하위 개수 -->
   <select id="replyNum" resultType="Integer" parameterType="map">
      select count(*) from buseo where parent=#{buseoNum}
   </select>
   
   <!-- 하위갯수변경 -->
   <update id="setReplyNum" parameterType="map">
      update buseo set replyNum=#{replyNum} where buseoNum=#{buseoNum}
   </update>
	
	 <!-- 하위가 생길 경우 순서변경 -->
   <update id="orderNoUpdate" parameterType="map">
      update buseo set orderNo=orderNo + 1
      where groupNum=#{groupNum} and orderNo>#{orderNo}
   </update>
	
	<!-- 정보읽기 -->
	<select id="ReadData" parameterType="integer" resultType="com.exe.insa.BuseoDTO">
		select buseoNum,buseoName,groupNum,depth,orderNo,parent,replyNum,checked from buseo where buseoNum=#{buseoNum}
	</select>
	
	<!-- 계층형 구조를 출력 하기 위한 필요정보 출력해오기 -->
	<select id="group" resultType="com.exe.insa.BuseoDTO">
		select groupNum,count(*) replyNum from buseo group by groupNum order by groupNum desc
	</select>	
	
	<select id="depth" resultType="com.exe.insa.BuseoDTO">
		select parent,count(*) replyNum from buseo group by parent having parent!='0' 
	</select>
	
	<delete id="buseoDelete" parameterType="integer">
		delete buseo where buseoNum in
		(select buseoNum from buseo start with buseoNum=#{buseoNum}
		connect by prior buseoNum=parent)
				
	</delete>
	
	<update id="buseoUpdate" parameterType="com.exe.insa.BuseoDTO">
		update buseo set buseoName=#{buseoName},checked=#{checked} where buseoNum=#{buseoNum}
	</update>
	
	
	

	
	

	<select id="memberList" parameterType="HashMap" resultType="com.exe.member.MemberDTO">

	select * from(
	select rownum rnum,data.* from(
	select num,userNum ,name,id,Ophone,Mphone,email,dal,duty,grade,depth1,depth2,depth3,depth4,depth5 from insadb
	where Name like '%'||#{searchValue}||'%' and
	
	depth1 like '%'||#{depth1}||'%' and depth2 like '%'||#{depth2}||'%' and depth3 like '%'||#{depth3}||'%' and depth4 like '%'||#{depth4}||'%' and depth5 like '%'||#{depth5}||'%'
	
	order by num desc) data)
	
<![CDATA[
	where rnum>=#{start} and rnum<=#{end}	
]]>
</select>
	
	
	
	
	
	
	
	
	
	<select id="readBuseo" parameterType="integer" resultType="com.exe.insa.BuseoDTO">
		select buseoNum,buseoName,groupNum,orderNo,parent,replyNum,depth from buseo where buseoNum=#{buseoNum}
	</select>
	
	
	<select id="getDataCount" parameterType="HashMap" resultType="int">
	select nvl(count(*),0) from insadb
	where Name like '%'||#{searchValue}||'%' and	
	depth1 like '%'||#{depth1}||'%' and depth2 like '%'||#{depth2}||'%' and depth3 like '%'||#{depth3}||'%' and depth4 like '%'||#{depth4}||'%' and depth5 like '%'||#{depth5}||'%'
	
	</select>
	
	
	<select id="deletecheck" parameterType="HashMap" resultType="int">
	select nvl(count(*),0) from insadb
	where depth1=#{depth1} or depth2=#{depth2} or depth3=#{depth3} or depth4=#{depth4} or depth5 =#{depth5}
	
	</select>
	
	
	<select id="parentList" resultType="com.exe.insa.BuseoDTO">
	
	select parent from buseo group by parent having parent!=0
	
	</select>
	
	
</mapper>

