<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-/mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exe.insa">

	<select id="buseolist" resultType="com.exe.insa.BuseoDTO">
		select nvl(depth1,0) depth1,nvl(depth2,0) depth2,nvl(depth3,0) depth3,
		nvl(depth4,0) depth4,nvl(depth5,0) depth5 from buseo
		order by depth1,depth2 ,depth3 , depth4 , depth5 			
	</select>
	
	<select id="depth1" resultType="com.exe.insa.BuseoDTO">
	select depth1 from buseo group by depth1 having count(*)>=1 and depth1 is not null order by depth1
	</select>
	
	<select id="depth1etc" resultType="com.exe.insa.BuseoDTO">
	select depth1 from buseo group by depth1 having count(*)>1 and depth1 is not null order by depth1
	</select>
	
	<select id="depth2" resultType="com.exe.insa.BuseoDTO">
		select depth2 from buseo group by depth2 having count(*)>=1 and depth2 is not null order by depth2
	</select>
	
	<select id="depth2etc" resultType="com.exe.insa.BuseoDTO">
		select depth2 from buseo group by depth2 having count(*)>1 and depth2 is not null order by depth2
	</select>
	
	<select id="depth3" resultType="com.exe.insa.BuseoDTO">
		select depth3 from buseo group by depth3 having count(*)>=1 and depth3 is not null order by depth3
	</select>
	
	<select id="depth3etc" resultType="com.exe.insa.BuseoDTO">
		select depth3 from buseo group by depth3 having count(*)>1 and depth3 is not null order by depth3
	</select>
	
	<select id="depth4" resultType="com.exe.insa.BuseoDTO">
		select depth4 from buseo group by depth4 having count(*)>=1 and depth4 is not null order by depth4
	</select>
	
	<select id="depth4etc" resultType="com.exe.insa.BuseoDTO">
		select depth4 from buseo group by depth4 having count(*)>1 and depth4 is not null order by depth4
	</select>
	
	
	<select id="depth5" resultType="com.exe.insa.BuseoDTO">
		select depth5 from buseo group by depth5 having count(*)>=1 and depth5 is not null order by depth5 
	</select>
</mapper>

