<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-/mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exe.buseoControl">

	<!-- 최대값 구하기 -->
	<select id="maxNum" resultType="integer">
	select nvl(max(listNum),0) from boardlist	
	</select>
	
	<!-- 생성 -->
	<insert id="boardCreated" parameterType="com.exe.insa.ListDTO">
	insert into boardlist(listNum,groupNum,depth,orderNo,parent)
	values (#{listNum},#{groupNum},#{depth},#{orderNo},#{parent})
	</insert>
	
	
	<!-- 하위 개수 -->
	<select id="replyNum" resultType="Integer" parameterType="map">
	   select count(*) from boardlist where groupNum=#{groupNum} and depth=#{depth}+1 and parent=#{listNum}
	</select>
   
	<!-- 하위갯수변경 -->
	<update id="setReplyNum" parameterType="map">
		update boardlist set replyNum=#{replyNum} where listNum=#{listNum}
	</update>
	
	 <!-- 하위가 생길 경우 순서변경 -->
	<update id="orderNoUpdate" parameterType="map">
		update boardlist set orderNo=orderNo + 1
		where groupNum=#{groupNum} and orderNo>#{orderNo}
	</update>
	
	<!-- 삭제하면서 하위까지 삭제하기 -->
	<delete id="boardDelete" parameterType="integer">
		delete from boardlist where listNum in
		(select listNum from boardlist start with listNum=#{listNum}
		connect by prior listNum=parent)
	</delete>
	
	
	
	<!-- 정보읽기 -->
	<select id="ReadData" parameterType="integer" resultType="com.exe.insa.ListDTO">
		select listNum,boardName,groupNum,depth,orderNo,parent,replyNum,checked,buseoR,buseoW,memberR,memberW from boardlist where listNum=#{listNum}
	</select>
	
	<!-- 계층형 구조를 출력 하기 위한 필요정보 출력해오기 -->
	<select id="group" resultType="com.exe.insa.ListDTO">
		select groupNum,count(*) replyNum from boardlist group by groupNum order by groupNum desc
	</select>	
	
	<select id="depth" resultType="com.exe.insa.ListDTO">
		select parent,count(*) replyNum from boardlist group by parent having parent!='0' 
	</select>
	
	
	<!-- 리스트출력 -->
	<select id="list" resultType="com.exe.insa.ListDTO">
	
	select listNum,boardName,groupNum,depth,orderNo,parent,checked from boardlist order by groupNum desc, orderNo asc
	
	</select>
	
	<!-- 회원 리스트 출력 -->
	<select id="memberList" resultType="com.exe.member.MemberDTO">
	select num,userNum ,name,id,Ophone,Mphone,email,dal,duty,grade,depth1,depth2,depth3,depth4,depth5 from insadb	
	</select>
	
	<delete id="boardListDelete" parameterType="integer">
		delete erpboard where listNum=#{listNum}
				
	</delete>
	
	<update id="boardMember" parameterType="com.exe.insa.ListDTO">
		update boardlist set memberW=#{memberW},memberR=#{memberR} where listNum=#{listNum}
	</update>
	
	<update id="boardBuseo" parameterType="com.exe.insa.ListDTO">
		update boardlist set buseoW=#{buseoW},buseoR=#{buseoR} where listNum=#{listNum}
	</update>
	
	<update id="boardUpdate" parameterType="com.exe.insa.ListDTO">
		update boardlist set boardName=#{boardName} where listNum=#{listNum}
	</update>
	
	<delete id="boardReplyDelete" parameterType="integer">
		delete boardlist where parent=#{parent}
	</delete>
	
	
	
	<!-- 쪽지 관련 쿼리 -->
	
	<select id="NotemaxNum" resultType="integer">
		select nvl(max(noteNum),0) from note
	</select>
	
	<insert id="NoteinsertData" parameterType="com.exe.erp.NoteDTO">
		insert into note(noteNum,writer,reader,content,writeTime) values (#{noteNum},#{writer},#{reader},#{content},to_char(sysdate,'yy-MM-DD HH24:MI'))
	</insert>

	<delete id="NotedeleteData" parameterType="integer">
		delete note where noteNum=#{noteNum}
	</delete>
	
	<update id="NotereadTime" parameterType="com.exe.erp.NoteDTO">
		update note set readTime=to_char(sysdate,'yy-mm-dd HH24:MI') where noteNum=#{noteNum}
	</update>
	
	<select id="Notelist" resultType="com.exe.erp.NoteDTO" parameterType="hashMap">
		select * from(
		select rownum rnum, data.* from(
		select * from note where reader=#{reader} order by noteNum desc) data)
		<![CDATA[
     	 where rnum>=#{start} and rnum<=#{end}
   		]]>
	
	</select>
	
	<select id="NotegetCount" resultType="integer" parameterType="String">
		select nvl(count(*),0) from note where reader=#{reader}
	
	</select>
	
	
	<select id="NoteReadCount" resultType="integer" parameterType="String">
		select nvl(count(*),0) from note where reader=#{reader} and readTime='no'
	</select>
	
	<select id="NoteReadOne" parameterType="integer" resultType="com.exe.erp.NoteDTO">
		select * from note where noteNum=#{noteNum}
	
	</select>
	
	
	<select id="NoteRead" resultType="com.exe.erp.NoteDTO" parameterType="String">

		select * from(
		select rownum rnum, data.* from(
		select * from note where reader=#{reader} and readTime='no' order by noteNum desc) data)
		<![CDATA[
     	 where rnum>=1 and rnum<=9
   		]]>
	
	</select>
	

	

</mapper>

