<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-/mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exe.member">

	<select id="maxNum" resultType="integer">
		select nvl(max(num),0) from insadb
	</select>
	
	
	<insert id="insertData" parameterType="com.exe.member.MemberDTO">
		insert into insadb (num,userNum,name,jumin,addr,id,pwd,oPhone,mPhone,email,blood,reli,hobby,memo,grade,duty,
		dal,depth1,depth2,depth3,depth4,depth5,upload,secure) values (#{num},TO_CHAR(sysdate,'yymmddhhmiss'),#{name},#{jumin},#{addr},#{id},#{pwd},#{oPhone},#{mPhone},#{email},
		#{blood},#{reli},#{hobby},#{memo},#{grade},#{duty},#{dal},#{depth1},#{depth2},#{depth3},#{depth4},#{depth5},#{upload},#{secure})
	</insert>
	
	<select id="idOK" parameterType="String" resultType="String">
		select id from insadb where id=#{id}
	</select>
	
	<select id="readOne" parameterType="integer" resultType="com.exe.member.MemberDTO">
		select * from insadb where num=#{num}
	</select>
	
	
	
	
	
	
	<select id="depth0" resultType="com.exe.insa.BuseoDTO">
		select buseoName,buseoNum,replyNum,parent from buseo where depth=0
	</select>
	
	<select id="depth1" resultType="com.exe.insa.BuseoDTO">
		select buseoName,buseoNum,replyNum,parent from buseo where depth=1
	</select>
	
	<select id="depth2" resultType="com.exe.insa.BuseoDTO">
		select buseoName,buseoNum,replyNum,parent from buseo where depth=2
	</select>
	
	<select id="depth3" resultType="com.exe.insa.BuseoDTO">
		select buseoName,buseoNum,replyNum,parent from buseo where depth=3
	</select>
		
	<select id="depth4" resultType="com.exe.insa.BuseoDTO">
		 select buseoName,buseoNum,replyNum,parent from buseo where depth=4
	</select>
	
	<select id="buseo1" resultType="com.exe.insa.BuseoDTO" parameterType="Integer">
		select * from buseo where groupNum=#{groupNum} and depth=1
	</select>
	
	<select id="buseo2" resultType="com.exe.insa.BuseoDTO" parameterType="Integer">
		select * from buseo where groupNum=#{groupNum} and depth=2
	</select>
	
	<select id="buseo3" resultType="com.exe.insa.BuseoDTO" parameterType="Integer">
		select * from buseo where groupNum=#{groupNum} and depth=3
	</select>
	
	
</mapper>

