<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-/mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exe.approval">

	<insert id="insertApproval" parameterType="com.exe.approval.ApprovalDTO">
		insert into approval(approvalNum,type,id,subject,content,created,approval2,approval3,approval4,approval5,approval6) 
		values (#{approvalNum},#{type},#{id},#{subject},#{content},#{created},#{approval2},#{approval3},#{approval4},#{approval5},#{approval6})		
	</insert>

	<select id="approvalList" resultType="com.exe.approval.ApprovalDTO" parameterType="String">
		select * from approval where id = #{id}
	</select>

	<!-- <insert id="insert" parameterType="com.exe.approval.ApprovalCommentDTO">
		insert into approval (approvalNum,type,id,subject,content,created,approval2,approval3,approval4,approval5,approval6) 
		values (#{int},#{type},#{id},#{subject},#{content},#{created},#{approval2},#{approval3},#{approval4},#{approval5},#{approval6})		
	</insert>
		
	<select id="list" resultType="com.exe.springmybatis.CustomDTO" parameterType="String">
		
	</select>
	
	<select id="listOne" resultType="com.exe.springmybatis.CustomDTO" parameterType="int">
		
	</select>
	
	<update id="update" parameterType="com.exe.springmybatis.CustomDTO">
		
	</update>
	
	<delete id="delete" parameterType="int">
		
	</delete>

	<select id="todayNum" resultType="int" parameterType="int">
	</select> -->
	
	
	<!-- ApprovalForm -->
	
<!-- 	<insert id="approvalForminsert" parameterType="com.exe.approval.ApprovalFormDTO">
		insert into approvalForm (approvalNum,approvalName,approvalType,approvalContent)
		values (#{approvalNum},#{approvalName},#{approvalType},#{approvalContent})
	</insert> -->
	
	<select id="approvalFormMaxNum" resultType="integer">
		select nvl(max(approvalFormNum),0) from approvalForm
	</select>
	
<!-- 	<select id="approvalFormData" parameterType="St ring" resultType="com.exe.approval.ApprovalFormDTO">
		select * from approvalForm where approvalName = #{approvalName}
	</select>
-->
	<select id="approvalFormList" resultType="com.exe.approval.ApprovalFormDTO">
		select * from approvalForm
	</select> 
	
	<select id="getApprovalForm" parameterType="integer" resultType="com.exe.approval.ApprovalFormDTO">
		select * from approvalForm where approvalFormNum = #{num}
	</select> 
	
	<insert id="insertApprovalForm" parameterType="com.exe.approval.ApprovalFormDTO" >
		insert into approvalForm(approvalFormNum,approvalFormName,approvalFormType,approvalFormContent)
		values (#{approvalFormNum},#{approvalFormName},#{approvalFormType},#{approvalFormContent:CLOB}) 
	</insert> 

	<select id="getApprovalFormType" resultType="com.exe.approval.ApprovalFormDTO">
		select approvalformtype from approvalForm group by approvalformtype
	</select>
	
	<select id="getApprovalMemberList" parameterType="HashMap" resultType="com.exe.member.MemberDTO">
		select name,duty,grade,depth1,depth2,depth3,depth4,depth5 from insadb where depth1 like '%'||#{depth1}||'%' and depth2 like '%'||#{depth2}||'%' and depth3 like '%'||#{depth3}||'%' and depth4 like '%'||#{depth4}||'%' and depth5 like '%'||#{depth5}||'%'
	</select>
	
	<select id="getApprovalOptionList" parameterType="String" resultType="com.exe.member.MemberDTO">
		select id,name,grade,depth2 from insadb where id=#{id}
	</select>
	
	<select id="getApprovalMax" parameterType="String" resultType="integer">
		select count(*) from approval where approvalnum like #{approvalNum} || '%'
	</select>
	
	
	
	
	
</mapper>
