<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-/mybatis.org//DTD Mapper 3.0//EN"      
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exe.board.BoardMapper">

   <select id="maxNum" resultType="int">
      select nvl(max(boardNum),0) from erpboard
   </select>

   <insert id="insertData" parameterType="com.exe.board.BoardDTO">
      insert into erpboard (boardNum,name,id,subject,content,hitCount,created,listNum) 
      values (#{boardNum},#{name},#{id},#{subject},#{content},0,sysdate,#{listNum})
   </insert>
   
   <select id="getDataCount" parameterType="hashMap" resultType="int">
      select nvl(count(*),0) from erpboard where ${searchKey} like '%' || #{searchValue} || '%'
   </select>
   
   <select id="getLists" parameterType="hashMap" resultType="com.exe.board.BoardDTO">
      select * from (
      select rownum rnum, data.* from (
      select boardNum,name,subject,hitCount,to_char(created,'YYYY-MM-DD') created
      from erpboard where ${searchKey} like '%' || #{searchValue} || '%' 
      order by boardNum desc) data)
   <![CDATA[
      where rnum>=#{start} and rnum<=#{end}
   ]]>
   </select>
   
   <update id="updateHitCount" parameterType="int">
      update erpboard set hitCount=hitCount+1 where boardNum=#{boardNum}
   </update>
   
   <select id="getReadData" parameterType="int" resultType="com.exe.board.BoardDTO">
      select boardNum,name,subject,content,hitCount,created from erpboard where boardNum=#{boardNum}
   </select>
   
   <update id="updateData" parameterType="com.exe.board.BoardDTO">
      update erpboard set name=#{name},subject=#{subject},content=#{content} where boardNum=#{boardNum}
   </update>
   
   <delete id="deleteData" parameterType="int">
      delete erpboard where boardNum=#{boardNum}
   </delete>


	 <select id="getListsTest" parameterType="hashMap" resultType="com.exe.board.BoardDTO">
      select * from (
      select rownum rnum, data.* from (
      select boardNum,name,subject,hitCount,to_char(created,'YYYY-MM-DD') created
      from erpboard where ${searchKey} like '%' || #{searchValue} || '%' and listNum=#{listNum}
      order by boardNum desc) data)
   <![CDATA[
      where rnum>=#{start} and rnum<=#{end} 
   ]]>
   
   </select>


	<select id="getDataCountTest" parameterType="hashMap" resultType="int">
      select nvl(count(*),0) from erpboard where ${searchKey} like '%' || #{searchValue} || '%' and listNum=#{listNum}
   </select>

	<select id="notice" resultType="com.exe.board.BoardDTO">
		select * from(
		select rownum rnum, data.* from(
		select * from erpboard where listNum=1 order by boardNum desc) data)
		<![CDATA[
     	 where rnum>=1 and rnum<=6
   		]]>
		
	</select>
	



</mapper>























